.App {
  text-align: center;
  background-color: #f7f7f7;
  padding: 50px;
  box-sizing: border-box;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.text {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.navbar-buttons {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
